*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(252, 239, 224);
}



.left-social{
    position: fixed;
    left: 35px;
    top: 0;
    width: 40px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.left-icons{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
    z-index: 2;
}
.left-icons::before{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 110%;
    width: 2px;
    height: 40vh;
    background-color: #8b4513;
}
.left-icons::after{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 110%;
    width: 2px;
    height: 40vh;
    background-color: #8b4513;
}
.left-icons a{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 3;
    opacity: 0;
    transform: translateY(15px);
    animation: leftAppear 0.6s ease forwards;
}
@keyframes leftAppear{
    from{
        opacity: 0;
        transform: translateY(15px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
.left-icons a:nth-child(1){
    animation-delay:0.2s ;
}
.left-icons a:nth-child(2){
    animation-delay:0.5s ;
}
.left-icons a:nth-child(3){
    animation-delay:0.8s ;
}
.left-icons img{
    width: 25px;
    height: 25px;
    transition: transform 0.3s ease;
    filter: brightness(0) saturate(100%) invert(45%);
}
.left-icons a:hover img{
    filter: brightness(0) 
            saturate(100%)
            invert(27%)
            sepia(40%)
            saturate(1000%)
            hue-rotate(350deg)
            brightness(80%);
    transform: scale(1.5);
}



.hero{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding: 150px;
}
.hero-content{
    flex: 1;
    max-width: 650px;

    h1{
        color: #8b4513;
        margin-bottom: -20px;
    }

    h2{
        font-size: clamp(50px, 7vw, 90px);
        color: #8b4513;
        margin-bottom: 10px;
    }
    h3{
        font-size: clamp(24px, 3vw, 40px);
        color: #555;
        margin-bottom: 25px;
    }
    p{
        max-width: 550px;
        font-size: 18px;
        line-height: 1.8;
        color: #666;
        margin-bottom: 30px;
    }
}
.hero-image{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-cricle{
    width: min(350px, 30vw);
    aspect-ratio: 1;
    border-radius: 50%;
    border: 3px solid #8b4513;
    padding: 10px;
    transition: transform 0.4s ease,
                box-shadow 0.4s ease;
    /* animation: floatImage 3s ease-in-out infinite; */
}
.image-cricle:hover{
    transform: translateY(-8px);
    box-shadow: 0 18px 40px rgba(80, 39, 10, 0.6);
}
/* @keyframes floatImage{
    0%, 100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
} */
.image-cricle img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    transition: transform 0.4s ease;
}
.image-cricle:hover img{
    transform: scale(1.04);
}
@media (max-width: 768px){
    .hero{
        min-height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 40px;
        padding: 80px 100px;
    }
}



.right-nav{
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
    z-index: 1000;
    width: 130px;
    /* padding: 10px; */
}
.right-item{
    width: 50px;
    height: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
    background: white;
    text-decoration: none;
    border: 1px solid #ddd;
    overflow: hidden;
    transition: width 0.4s ease;
    color: #555;
}
.right-item img{
    width: 25px;
    height: 25px;
    filter: brightness(0) saturate(100%) invert(45%);
    transition: 0.3s;
}
.right-item span{
    white-space: nowrap;
    font-size: 18px;
    font-weight: 600;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.right-item:hover{
    width: 120px;
    border: 1px solid #ddd;
}
.right-item:hover span{
    border-left-color:#ddd ;
    color: #8b4513;
    opacity: 1;
}
.right-item:hover img{
     filter: brightness(0) saturate(100%)
            invert(27%)
            sepia(40%)
            saturate(1000%)
            hue-rotate(350deg)
            brightness(80%);
}

