/* =========================================
   FAQ PAGE
========================================= */

.faq-page {
  width: 100%;
  min-height: 100vh;

  background: #e8e8ff;

  color: #111;

  font-family: poppins;

  padding-bottom: 100px;
}


/* =========================================
   FAQ HEADER
========================================= */

.faq-header {
  width: 92%;
  max-width: 1200px;

  margin: 0 auto;

  padding-top: 55px;
  padding-bottom: 55px;
}

.faq-header h1 {
  margin: 0;

  font-size: 25px;

  font-weight: 500;
}


/* =========================================
   FAQ CONTAINER
========================================= */

.faq-container {
  width: 89%;
  max-width: 1160px;

  margin: 0 auto;
}


/* =========================================
   FAQ ITEM
========================================= */

.faq-item {
  width: 100%;

  margin-bottom: 22px;
}


/* =========================================
   QUESTION BAR
========================================= */

.faq-question {
  width: 100%;

  min-height: 35px;

  display: flex;

  align-items: center;

  justify-content: center;

  text-align: center;

  background: #f2a000;

  color: #000;

  font-size: 18px;

  font-weight: 700;

  padding: 10px 10px;

  box-sizing: border-box;
}


/* =========================================
   ANSWER
========================================= */

.faq-answer {
  padding: 18px 18px 0;

  font-size: 17px;

  line-height: 1.5;

  font-weight: 500;
}

.faq-answer p {
  margin: 0 0 30px;
}


/* =========================================
   CENTERED ANSWER
========================================= */

.faq-centered-answer {
  text-align: center;
}


/* =========================================
   TABLET
========================================= */

@media (max-width: 900px) {

  .faq-header {
    width: 90%;

    padding-top: 40px;
    padding-bottom: 40px;
  }

  .faq-container {
    width: 90%;
  }

  .faq-header h1 {
    font-size: 23px;
  }

  .faq-question {
    font-size: 16px;
  }

  .faq-answer {
    font-size: 15px;
  }
}


/* =========================================
   MOBILE
========================================= */

@media (max-width: 600px) {

  .faq-page {
    padding-bottom: 60px;
  }

  .faq-header {
    width: 90%;

    padding-top: 30px;
    padding-bottom: 30px;
  }

  .faq-header h1 {
    font-size: 20px;

    line-height: 1.4;
  }

  .faq-container {
    width: 92%;
  }

  .faq-item {
    margin-bottom: 18px;
  }

  .faq-question {
    min-height: 34px;

    padding: 6px 8px;

    font-size: 14px;

    line-height: 1.35;
  }

  .faq-answer {
    padding: 13px 8px 0;

    font-size: 14px;

    line-height: 1.55;
  }

  .faq-answer p {
    margin-bottom: 15px;
  }
}