*{
  box-sizing: border-box;
}
body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.app{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  background-color: #f5f5f5;
}
.todo-container {
  width: 500px;
  background:white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}
h1{
  text-align: center;
  color: #333;
}
.todo-form{
  display: flex;
  gap: 10px;
}
.todo-form input{
  flex: 1;
  padding: 10px;
}
button{
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}
.filters{
  display: flex;
  justify-content: space-between;
  margin:20px 0;
  gap: 10px;
}
.todo-item{
  display: flex;
  align-items: center;
  padding: 12px 0;
  gap: 10px;
  border-bottom: 1px solid #ddd;
}
.todo-item span{
  flex: 1;
}
.completed{
  text-align: center;
  margin-top: 20px;
}
.empty{
  text-align: center;
  color: #888;
}